<div class="modal fade" id="bookexprience" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <h3>Loved your Metaguise experience?</h3>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="/static/images/cross-icon.png"/>
        </button>
    </div>
           <div class="modal-body">
            <h2>Book your Curated Experience</h2>
                <div class="from-group">
                    <input type="text" class="form-control" name="" placeholder="Your Name">
                </div>
                <div class="from-group">
                    <input type="text" class="form-control" name="" placeholder="Your Phone Number">
                    <a href="#">Send OTP</a>
                </div>
                <div class="from-group">
                    <input type="text" class="form-control" name="" placeholder="Enter OTP">
                    <p>00:59</p>
                </div>
                <div class="from-group">
                    <input type="text" class="form-control" name="" placeholder="Select a Time Slot">
                    <img src="/static/images/calender-icon.png"/>
                </div>
                <div class="from-group">
                    <div class="choose_file">
                        <span>Upload your reference </span>
                        <input name="Select File" type="file" />
                        <img src="/static/images/upload-icon.png"/>
                    </div>
                </div>
                <div class="from-group">
                    <button type="submit" class="getintouchbtn">Get In Touch</button>
                </div>
            </div>
        </div>
      </div>
</div>